<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Hello</title>
</head>
<body>
	<h1>HOLAAAAAAAAAAAAA, Funcioneeeeee</h1>
	<h2>Hello <span th:text="${name}"></span>!!!!!</h2>
	<h3>Nombre: <span th:text="${persona.nombre}"></span>!!!!!</h3>
	<h4>Edad: <span th:text="${persona.edad}"></span>!!!!!</h4>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Edad</th>
			</tr>
		</thead>
		<tbody th:each="persona : ${gente}">
			<tr>
				<!--<th th:text="${persona.nombre}"></th>
				<th th:text="${persona.edad}"></th>-->
			</tr>
		</tbody>
	</table>
</body>
</html>