<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Vehiculos</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Placa: </th>
				<th>Cilindraje: </th>
				<th>Parqueado: </th>
				<th>Tipo Vehiculo: </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vehiculo : ${vehiculos}">
				<th><span th:text="${vehiculo.placa}"></span></th>
				<th><span th:text="${vehiculo.cilindraje}"></span></th>
				<th><span th:text="${vehiculo.parqueado}"></span></th>
				<th><span th:text="${vehiculo.tipo_vehiculo}"></span></th>
			</tr>
		</tbody>
	</table>
	
	<br></br><hr></hr>
	<table>
		<thead>
			<tr>
				<th>Placa: </th>
				<th>Cilindraje: </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vehiculo : ${vehiculos}">
				<th><span th:text="${vehiculo.placa}"></span></th>
				<th><span th:text="${vehiculo.cilindraje}"></span></th>
			</tr>
		</tbody>
	</table>
	
	<br></br>
	
	<form action="#" th:action="@{/parqueadero/addvehiculo}" th:object="${vehiculo}" method="post">
		<p>Placa: <input type="text" th:field="*{placa}" /></p>
		<p>Cilindraje: <input type="text" th:field="*{cilindraje}" /></p>
		<p>Parqueado: <input type="text" th:field="*{parqueado}" /></p>
		<p>Tipo vehiculo: <input type="text" th:field="*{tipo_vehiculo}" /></p>
		<p><input type="submit" value="Enviar"/></p>
	</form>
	
</body>
</html>